@media only screen and (min-width: 1200px) {
  .body-short {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 104px;
    right: 204px;
    opacity: 0;
  }

  .body-long {
    display: block;
    width: 8px;
    height: 100px;
    background-color: black;
    border-radius: 4px;
    position: absolute;
    top: 104px;
    right: 204px;
    opacity: 0.9;
    transition: all 300ms ease-in;
  }

  .leg1-short {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 198px;
    right: 204px;
    transform: rotate3d(0, 0, 1, 40deg);
    opacity: 0;
  }

  .leg1-long {
    display: block;
    width: 8px;
    height: 80px;
    background-color: black;
    border-radius: 4px;
    position: absolute;
    top: 190px;
    right: 227px;
    opacity: 0.9;
    transform: rotate3d(0, 0, 1, 40deg);
    transition: all 300ms ease-in;
  }

  .leg2-short {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 198px;
    right: 204px;
    transform: rotate3d(0, 0, 1, -40deg);
    opacity: 0;
  }

  .leg2-long {
    display: block;
    width: 8px;
    height: 80px;
    background-color: black;
    border-radius: 4px;
    position: absolute;
    top: 190px;
    right: 181px;
    opacity: 0.9;
    transform: rotate3d(0, 0, 1, -40deg);
    transition: all 300ms ease-in;
  }

  .arm1-short {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 148px;
    right: 204px;
    transform: rotate3d(0, 0, 1, 80deg);
    opacity: 0;
  }

  .arm1-long {
    display: block;
    width: 8px;
    height: 70px;
    background-color: black;
    border-radius: 4px;
    position: absolute;
    top: 111px;
    right: 172px;
    opacity: 0.9;
    transform: rotate3d(0, 0, 1, 80deg);
    transition: all 300ms ease-in;
  }

  .arm2-short {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 148px;
    right: 204px;
    transform: rotate3d(0, 0, 1, -70deg);
    opacity: 0;
  }

  .arm2-long {
    display: block;
    width: 8px;
    height: 70px;
    background-color: black;
    border-radius: 4px;
    position: absolute;
    top: 106px;
    right: 233px;
    opacity: 0.9;
    transform: rotate3d(0, 0, 1, -70deg);
    transition: all 300ms ease-in;
  }
}
